<div class="cuerpo">
    <div class="primero">
        <div class="cardCafe">
            <div class="cardCafe-content">
                <h2>Vamos<br>por un<br>café?</h2>
                <button class="btn-contacto">CONTÁCTANOS</button>

            </div>
        </div>
        <div class="tituloFooter">
            <div class="negro">
               <p>VENDRÁS POR EL EQUIPO</p> 
            </div>
            <div class="blanco">
                <p> TE QUEDARÁS POR<br>
                LOS RESULTADOS</p>
            </div>
        </div>
        <div class="patitos">
            <img src="assets/patitos.png" alt="">
        </div>
    </div>
    <div class="segundo">
        <div class="redes">
            <p>Síguenos en nuestras redes sociales:</p>
            <div class="red">
                
                <img src="assets/red4.png" alt="" (click)="irInsta()">
                <img src="assets/red5.png" alt="" (click)="irFacebook()">
                <img src="assets/red7.png" alt="" (click)="irLinkenlin()">
            </div>
            
        </div>
        <div class="copy">
            <img src="assets/logo.png" alt="">
            <p>Copyright © 2025 BeBrave. Todos los derechos reservados.</p>
        </div>
    </div>
    <div class="tercero">
        <h2>only brave people can change the world</h2>
    </div>
</div>
