<div class="swiper-container" [id]="idCarusel">
    <div class="swiper-wrapper">
        
        <!-- Slide 2 -->
        <div class="swiper-slide" *ngFor="let testimonio of clientes">
            <div class="contenido" >
                <div class="testimonio-card">
                  <img [src]="testimonio" alt="">
                  <!--
                    <div class="primero">
                        <div class="testimonio-imagen">
                            <img src="assets/logo1.png" alt="Diana Moya" />
                          </div>
                          <div class="testimonio-texto">
                            <h3>DIANA MOYA</h3>
                            <p class="cargo">Brand Manager</p>
                            <p class="empresa">REVIVE / CARISSA</p>
                          </div>
                    </div>
                    
                    <div class="testimonio-linea"></div>
                    <div class="testimonio-mensaje">
                      <div class="comilla">❝</div>
                      <p>
                        Trabajar con Zul, como directora de cuentas en Be Brave, ha sido una gran experiencia. 
                        Es una profesional con mucho amor por lo que hace, y eso se nota...
                      </p>
                      
                    </div>
                  </div>
                  -->
                  
            </div>
           
        </div>
       
        <!-- Agrega más slides según sea necesario -->
    </div>
    <!-- Paginación 
    <div class="swiper-pagination"></div>-->
    <!-- Botones de navegación 
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    -->
</div>