<article>
    <div class="fondo">
        <img src="assets/manoServicios.png" alt="">
    </div>
    <div class="fondoAbajo">
        <img src="assets/rayasDerecha.png" alt="">
    </div>
   

    <div class="primero">
        <div class="cardCafe">
            <div class="cardCafe-content">
                <h2>Vamos<br>por un<br>café?</h2>
                <button class="btn-contacto" (click)="irWhatsApp()">CONTÁCTANOS</button>

            </div>
        </div>
        <div class="nuestrosServicios">
            <div class="textoServicio">
                <h2>NUESTROS SERVICIOS</h2>
                <p>Estrategias de Marketing Digital <b>hechas a la medida
                        de tu empresa</b> para reforzar tu presencia on line</p>
            </div>

            <div class="serviciosCards">
                <div class="medios-card">
                    <div class="icon-container">
                        <img src="assets/servicios1.png"  class="imagen1" alt="Icono de redes sociales">
                    </div>
                    <div class="content">
                        <h2>ESTRATEGIA</h2>
                        <p>
                            <b> No dejamos nada al azar.</b>
                            Analizamos tu marca, definimos objetivos claros y creamos un plan de acción que conecta con
                            tu audiencia y maximiza resultados
                        </p>
                    </div>
                </div>
                <div class="medios-card">
                    <div class="icon-container">
                        <img  src="assets/servicios2.png"  class="imagen2"
                            alt="Icono de redes sociales">
                    </div>
                    <div class="content">
                        <h2>PRODUCCIÓN</h2>

                        <p>
                            Desde ideas hasta <b>contenido
                                de alto impacto.</b> Diseñamos,
                            grabamos y creamos
                            materiales que cuentan tu
                            historia y hacen brillar tu
                            marca en todos los formatos
                        </p>
                    </div>
                </div>
                <div class="medios-card">
                    <div class="icon-container">
                        <img src="assets/servicios3.png"  class="imagen3"
                            alt="Icono de redes sociales">
                    </div>
                    <div class="content">
                        <h2>MEDIOS</h2>
                        <p>
                            Llevamos tu mensaje<b> al lugar
                                correcto, en el momento
                                perfecto. </b>Optimizamos tu
                            inversión en Meta, Google,
                            TikTok, Programmatic y otros
                            canales para garantizar
                            visibilidad y conversión.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="segundo">
       
        <div class="diferencias">
            <div class="titulo">
                NUESTRO PRINCIPAL DIFERENCIADOR
            </div>
            <div class="cardsDif">
                <div class="cardTransparemte">
                    
                </div>
                <div class="cardDif">
                    <div class="imagenDif">
                        <img src="assets/diferencia1.png" alt="">

                    </div>

                    <div class="textosDif">
                        <div class="subTituloDif">
                            REVISAMOS LA
                        </div>
                        <div class="tituloDif">
                            IDENTIDAD VISUAL
                            <br>DE TU MARCA
                        </div>
                        <div class="contenidoDif">
                            Nos aseguramos de que cada
                            elemento visual represente
                            perfectamente tu esencia
                        </div>
                    </div>

                </div>
                <div class="cardDif">
                    <div class="imagenDif">
                        <img src="assets/diferencia2.png" alt="">

                    </div>

                    <div class="textosDif">
                        <div class="subTituloDif">
                            TRABAJAMOS EN EL
                        </div>
                        <div class="tituloDif">
                            POSICIONAMIENTO<br>
                            DE LA MARCA
                        </div>
                        <div class="contenidoDif">
                            Identificamos el estadíoen el que se
                            encuentra la marca y trabajamos estrategias
                            siguiendo el embudo de marketing
                        </div>
                    </div>

                </div>
                <div class="cardDif">
                    <div class="imagenDif">
                        <img src="assets/diferencia3.png" alt="">

                    </div>

                    <div class="textosDif">
                        <div class="subTituloDif">

                        </div>
                        <div class="tituloDif">
                            ESTABLECEMOS<br>
                            OBJETIVOS CLAROS
                        </div>
                        <div class="contenidoDif">
                            Te ayudamos a establecer metas
                            alcanzables y medibles para medir el
                            éxito
                        </div>
                    </div>

                </div>
            </div>

            <div class="cardsDif">
                <div class="cardDif">
                    <div class="imagenDif">
                        <img src="assets/diferencia4.png" alt="">
    
                    </div>
    
                    <div class="textosDif">
                        <div class="subTituloDif">
    
                        </div>
                        <div class="tituloDif">
                            MOSTRAMOS
                            HITOS Y LOGROS
                        </div>
                        <div class="contenidoDif">
                            Celebramos cada éxito y lo usamos
                            para construir una narrativa de
                            crecimiento constante
                        </div>
                    </div>
    
                </div>
                <div class="cardDif">
                    <div class="imagenDif">
                        <img src="assets/diferencia5.png" alt="">

                    </div>

                    <div class="textosDif">
                        <div class="subTituloDif">
                            RECIBIMOS
                        </div>
                        <div class="tituloDif">
                            RETROALIMENTACIÓN
                            CONSTANTE
                        </div>
                        <div class="contenidoDif">
                            Valoramos la opinión de nuestros clientes
                            para mejorar y adaptar las estrategias
                            según sus necesidades
                        </div>
                    </div>

                </div>
                <div class="cardDif">
                    <div class="imagenDif">
                        <img src="assets/diferencia6.png" alt="">

                    </div>

                    <div class="textosDif">
                        <div class="subTituloDif">
                            ESTRUCTURAMOS
                        </div>
                        <div class="tituloDif">
                            LA MARCA
                            DE MANERA SÓLIDA
                        </div>
                        <div class="contenidoDif">
                            Nos aseguramos de que tu marca esté bien
                            fundamentada y estructurada para un
                            crecimiento sostenido
                        </div>
                    </div>

                </div>
                <div class="cardDif">
                    <div class="imagenDif">
                        <img src="assets/diferencia7.png" alt="">

                    </div>

                    <div class="textosDif">
                        <div class="subTituloDif">
                            IDENTIFICAMOS EL
                        </div>
                        <div class="tituloDif">
                            TIPO DE CONSUMIDOR
                            Y CONTENIDO ADECUADO
                        </div>
                        <div class="contenidoDif">
                            Trabajamos la creatividad conforme al público
                            objetivo y su tipo de consumo digital
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>



</article>