<nav>
    <div class="lineas">
        <div class="linea" style="background-color: #B05930;">

        </div>
        <div class="miniLinea">

        </div>
        <div class="linea" style="background-color: #A6226A;">
            
        </div>
        <div class="miniLinea">
            
        </div>
        <div class="linea"style="background-color: #645693;">
            
        </div>
        <div class="miniLinea">
            
        </div>
        <div class="linea"style="background-color: #75BEC3;">
            
        </div>
    </div>

    <div class="navBar">
        <div class="logo">
            <img src="assets/logo.png" alt="" srcset="">
        </div>
        <div class="botones">
            <a class="boton" href="#servicios">
                <p>SERVICIOS</p>
            </a>
            <a class="boton" href="#servicios">
                <p>ESTRATEGIAS</p>
            </a>
            <a class="boton" href="#casos">
                <p>EXPERIENCIA</p>
                
            </a>
            <a class="boton" href="#clientes">
                <p>CLIENTES</p>
            </a>
            <div class="botonC">
                <p>CONTACTANOS</p>
            </div>
        </div>
    </div>


</nav>