<header>
    <div class="primero">
        <div class="textos">
            <p class="subTitulo">Más que una agencia de marketing digital…</p>
            <p class="titulo">SOMOS TU SOCIO ESTRATÉGICO PARA EL CRECIMIENTO</p>
            <div class="btn-contacto " (click)="irWhatsApp()">
                <p>CONTÁCTANOS</p>
            </div>
        </div>
        <div class="imagen">
            <img src="assets/manoBanner2.png" alt="" srcset="">
        </div>
    </div>
    <div class="segundo">
        <div class="texto">EXCLUSIVA ALIANZA ESTRATÉGICA</div>
        
        <div class="seccion">
            <div class="estrategia">
                <img src="assets/estrategia1.png" alt="">
                <p>Estrategia, innovación, alcance</p>
            </div>
            <div class="estrategia">
                <img src="assets/estrategia2.png" alt="">
                <p>
                    Creatividad, impacto, resultados
                </p>
            </div>
        </div>

        <div class="flama">
            <img src="assets/flama.png" alt="">
        </div>
    </div>
    
</header>